.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brand-logo {
  margin-left: 5px;
}

.auth-card {
  padding: 20px;
  max-width: 500px;
  text-align: center;
  margin: 50px auto;
}

.input-field {
  color: white;
}

.bottom-heading {
  font-size: 15px;
  color: white !important;
}

.profile {
  margin-right: 25px;
  font-size: "15px";
  display: inline-block;
}

.profile-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;
  margin: 15px auto;
}

.profile-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.post-card {
  text-align: center;
  margin: 50px 50px;
}

.home-card {
  max-width: 50%;
  height: max-content;
  margin: 25px auto;
}

.post_header_image {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-bottom: -15px;
  margin: 0 2px;
}
